body {
    color: red;
    font-size: 30px;
    background-color: darkgoldenrod;
    backface-visibility: hidden;
    background-image: url(./3.webp);
    background-repeat: no-repeat;
    /* 在build 文件下寻找 */
}