<!DOCTYPE html>
<html>
  <head>
    <title>图片上传</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>图片上传</h1>
    <!-- 表单上传文件时,需要改变属性enctype 为enctype="multipart/from-data" 
    ,即定义表单的上传类型为文件类型
    -->
    <form action="/imgUpload" method="post" enctype="multipart/form-data">
      <label for="inp">选择文件</label>
    <input  hidden type="file" name="imgfile" id="inp">
      <div class="btn">上传</div>
  </form>
  <div>
    <h3>预览图片</h3>
    <img src="" alt="" id="yulan">
  </div>
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script>
    console.log($('#inp'));
    let formDataObj=new FormData()
    let file
      $('#inp').change((e)=>{
      // console.log($('form'));
      file=$('#inp')[0].files[0]
      console.log($('#inp')[0].files[0]);
      //预览图片
      //创建预览图片地址
      let httpUrl=window.webkitURL.createObjectURL(file)    //生成一个地址
      $('#yulan').attr('src',httpUrl)



      // 创建formData 对象,将文件追加到formData 对象里
       formDataObj=new FormData()
      formDataObj.append('imgfile',file)

    })
    $('.btn').click(()=>{
      $.ajax({
        url:'/imgUpload',
        method:'POST',
        data:formDataObj,
        processData:false,  //数据不需要额外处理
        contentType:false   //不要设置类型,已经定义为formData 数据类型
      }).then(res=>{
        console.log(res);
        $('body').append(`<h1>上传成功</h1><img src='${res.imgUrl}'/>`)
      })
    })
  </script>
  </body>
  
</html>
