<!DOCTYPE html>
<html>
  <head>
    <title>图片上传</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>图片上传</h1>
    <!-- 表单上传文件时,需要改变属性enctype 为enctype="multipart/from-data" 
    ,即定义表单的上传类型为文件类型
    -->
    <form action="/imgUpload" method="post" enctype="multipart/form-data">
    <input type="file" name="imgfile" id="">
      <button type="submit">上传</button>
  </form>
  </body>
</html>
