body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 100%;
    font-family: "Noto Sans", sans-serif;
    color: #eee9dc;
    /* background: #48b379; */
    overflow: hidden;
  }
 div.canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    user-select: none;
  }
  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none;
    content-zooming: none;
    background: #000;
  }


  
  ::-webkit-scrollbar {
    width: 0px;
    height: 9px;
}

/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/

::-webkit-scrollbar-track {
    width: 6px;
    background-color: #0d1b20;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

}

/*滚动条的设置*/

::-webkit-scrollbar-thumb {
    background-color: #606d71;
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

/*滚动条移上去的背景*/

::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}
  h2 {
    margin: 3em 0 0 0;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
   
  /* -------------------------------------
   * timeline
   * ------------------------------------- */
   .history{
     position: absolute;
     width: 100vw;
    height: 100vh;
     overflow: scroll;
     overflow-x: hidden;
     z-index: 9;
   }
  #timeline {
    position: absolute;
    top: -30px;
    z-index: 10;
    list-style: none;
    margin: 50px 0 30px 120px;
    padding-left: 30px;
    border-left: 8px solid #eee9dc;
  }
  #timeline li {
    margin: 40px 0;
    position: relative;
  }
  #timeline p {
    margin: 0 0 15px;
  }
   
  .date {
    margin-top: -10px;
    max-width: 100px;
    top: 50%;
    left: -158px;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
  }
   
  .circle {
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: #48b379;
    border: 5px solid #eee9dc;
    border-radius: 50%;
    display: block;
    position: absolute;
  }
   
  .content {
    max-height: 20px;
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
  }
  .content:before, .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
  }
  .content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  .content:after {
    /* border-right-color: #48b379; */
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
  }
  .content p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
  }
   
  label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
  }
   
  .radio {
    display: none;
  }
   
  .radio:checked + .relative label {
    cursor: auto;
    transform: translateX(42px);
  }
  .radio:checked + .relative .circle {
    background: #f98262;
  }
  .radio:checked ~ .content {
    max-height: 180px;
    border-color: #eee9dc;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
  }
  .radio:checked ~ .content p {
    max-height: 200px;
    color: #eee9dc;
    transition: color 0.3s linear 0.3s;
  }
   
  /* -------------------------------------
   * mobile phones (vertical version only)
   * ------------------------------------- */
  @media screen and (max-width: 767px) {
    #timeline {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
    #timeline li {
      margin: 50px 0;
    }
   
    label {
      width: 85%;
      font-size: 1.1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      transform: translateX(18px);
    }
   
    .content {
      padding-top: 45px;
      border-color: #eee9dc;
    }
    .content:before, .content:after {
      border: solid transparent;
      bottom: 100%;
    }
    .content:before {
      border-bottom-color: inherit;
      border-width: 17px;
      top: -16px;
      left: 50px;
      margin-left: -17px;
    }
    .content:after {
      border-bottom-color: #48b379;
      border-width: 20px;
      top: -20px;
      left: 50px;
      margin-left: -20px;
    }
    .content p {
      font-size: 0.9em;
      line-height: 1.4;
    }
   
    .circle, .date {
      display: none;
    }
  }