<!DOCTYPE html>
<html>
  <head>
    <title>搜索首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- action:提交至服务器的地址 -->
    <!-- <form action="/search" method="get">
      <input type="text" name="searchKey">
      <input type="text" name="username">
      <input type="submit" value="搜索">
    </form> -->
    <form action="/search" method="post">
      <input type="text" name="searchKey">
      <input type="password" name="password">
      <input type="submit" value="搜索">
    </form>
  </body>
</html>
