body {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#warp-texture {
    position: relative;
}

#canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.plane {
    width: 100%;
    height: 100vh;
}

.plane img {
    display: none;
}