<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
   <link rel="stylesheet" href="../css/29-vue-shopping.css">
</head>

<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>书籍名称</th>
                    <th>出版日期</th>
                    <th>价格</th>
                    <th>购买数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(item) in books'>
                    <!-- 这样会将数字.00 给去掉 以及不好做详细的修改添加删除操作-->
                    <!-- <td v-for='(value) in item'>{{value }}</td> -->

                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.date}}</td>
                    <!-- toFixed(2) 保留两位小数 -->
                    <!-- <td>{{getFinalPrice(item.price)}}</td> -->
                    <!-- 或者使用过滤器 -->
                    <!-- {{要传递的参数|接收参数的方法}} -->
                    <td>{{item.price |showPrice }}</td>
                    <td>
                        <button>-</button>
                        {{item.count}}
                        <button>+</button>
                    </td>
                    <td>
                        <button>移除</button>
                    </td>
                </tr>
            </tbody>
        </table>
            <h2>总价格:{{}}</h2>
    </div>
</body>
<script src="../js/29-vue-shopping.js"></script>

    <!-- 报错 -->
    <!-- Duplicate keys detected: 'aa'. This may cause an update error -->
    <!-- 绑定key的元素中     aaa 的 key 值多次重复添加  不绑定就不会报错-->
</html>