<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app" >
  

 <input type="checkbox" value="篮球" v-model='hobbies'>篮球
 <input type="checkbox" value="足球" v-model='hobbies'>足球
 <input type="checkbox" value="乒乓球" v-model='hobbies'>乒乓球
 <input type="checkbox" value="羽毛球" v-model='hobbies'>羽毛球
        <h2>你选择的爱好是:{{hobbies}}</h2>
<label for="" v-for='item in fruits' :for='item'>
<input type="checkbox" :value='item' v-model='hobbies' :id="item">{{item}}

</label>


      <!-- oninput实时监听值的变化 -->
      <!-- <input type="text" name="" id="" :value='message' oninput="console.log(this.value)"> -->
      
    </div>
    
</body>
<script>
    const app = new Vue({
        el: '#app',     //挂载元素
        data: {
            hobbies:[],
     fruits:['篮球','足球','乒乓球','羽毛球','台球','高尔夫球']
        },
        computed: {   // computed 里面的函数只打印一次
             
        },
        // methods 调用里面的方法需要加()
        methods: {  // methods 里面的函数打印多次
     
        },
        //过滤器 filters
        filters:{
             
        }
    })
</script>
    <!-- 报错 -->
    <!-- Duplicate keys detected: 'aa'. This may cause an update error -->
    <!-- 绑定key的元素中     aaa 的 key 值多次重复添加  不绑定就不会报错-->
</html>